<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>To-Do list</h1>
<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<table>
    <tr>
        <th>To-do:
        <th>To-do's due:</th>
        <th>Date submitted:</th>
    </tr>
    <tr th:each = "todo : ${todo}">
        <td th:text="${todo.text}"></td>
        <td th:text="${todo.due}"></td>
        <td th:text="${todo.date}"></td>
    </tr>
</table>
<a href="/savetodo">Add To-Do's</a>
</body>
</html>