<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="div-block-13" align="center">
<h1>Add To-Do</h1>
    <form class="table" th:object="${todo}" th:action="@{save}" action="#" method="post">

        <input align="center" type="text" id="text" th:field="*{text}" />
        <label for="text">Description</label>
        <div style="clear: both; display: block; height: 10px;"></div>


        <input align="center" type="text" id="due" th:field="*{due}" />
        <label for="due">Due date</label>
        <div style="clear: both; display: block; height: 10px;"></div>

        <input align="center" type="text" id="date" th:field="*{date}" readonly="readonly" />
        <label for="date">Date submitted (you may not edit this value)</label>
        <div style="clear: both; display: block; height: 10px;"></div>


        <input class="btn btn-success" align="center" type="submit" value="Save"/>
    </form>
</div>
</body>
</html>