<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="col-md-12" align="center">
<h1>Sign-up</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-danger"/>
    </form>
    <form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
        <div>
            <label> Username :<input type="text" th:field="*{username}" class="form-control"/></label>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
        </div>
        <div>
            <label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        </div>
        <div>
            <label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
            <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>
        </div>

        <input type="submit" class="btn btn-success" value="Signup"></input>
    </form>
</div>
</body>
</html>